<template id="kiwibnc-startup">
    <startup-layout ref="layout" class="kiwibnc-startup">
        <template v-slot:connection>
            <form class="u-form u-form--big kiwibnc-startup-form" @submit.prevent="onSubmit">
                <h2 v-html="greetingText"></h2>
                <div v-if="errorMessage" class="kiwibnc-error">{{ errorMessage }}</div>
                <input-text
                    v-model="username"
                    v-focus
                    :label="$t('username')"
                    :disabled="loading"
                    type="text"
                ></input-text>
                <input-text
                    v-model="password"
                    :show-plain-text="true"
                    :label="$t('password')"
                    :disabled="loading"
                    type="password"
                ></input-text>
                <label v-if="showRemember">
                    <input v-model="remember" type="checkbox">
                    <span>Remember me</span>
                </label>
                <button
                    :disabled="loading || !username || !password"
                    type="submit"
                    class="u-button u-button-primary u-submit"
                >
                    <span v-if="!loading" v-html="buttonText"></span>s
                    <i v-else class="fa fa-spinner fa-spin" aria-hidden="true" ></i>
                </button>
                <div @click="showLogin=!showLogin">
                    <span v-if="showLogin">
                        <a class="u-link">Create an account</a>
                    </span>
                    <span v-else>
                        <a class="u-link">
                            <i class="fa fa-chevron-left"></i> I already have an account
                        </a>
                    </span>
                </div>
                <div v-html="footerText"></div>
            </form>
        </template>
    </startup-layout>
</template>

<template id="kiwibnc-admin">
    <div class="kiwibnc-admin">

        <div class="kiwi-appsettings-block" style="max-width:750px;">
            <h3>Bouncer <span v-if="apiLoading" style="float:right;font-size:0.8em;">Loading..</span></h3>

            <div class="kiwi-appsettings-section">
                <label class="u-checkbox-wrapper">
                    <span>Allow public user registrations </span>
                    <input type="checkbox" v-model="allowRegistrationsWrap">
                </label>
                <small>Note: This temporarily changes the setting. To make it permanent over bouncer restarts you must edit your bouncers config file.</small>

                <h4>Restart the bouncer</h4>
                Restarting will restart all worker processes, reloading any extensions and configuration. No IRC connections will be disconnected.
                <br />
                <button :disabled="apiLoading" @click.prevent="restartBouncer" class="u-button u-button-secondary">
                    {{ isRestarting ? 'Restarting..' : 'Restart' }}
                </button>
            </div>
        </div>

        <div class="kiwi-appsettings-block" style="max-width:750px;">
            <h3>Users</h3>

            <div class="kiwi-appsettings-section">
                <a class="u-link" @click="refreshData" style="float:left;" >Refresh userlist</a>
                <a class="u-link" @click="adduser.visible=true" style="float:right;" >Add user</a>

                <form v-if="adduser.visible" class="kiwibnc-adduser" @submit.prevent="addUserSave">
                    <div v-if="adduser.error" class="kiwibnc-error">
                        {{ adduser.error }}
                    </div>
                    <input-text v-focus v-model="adduser.username" :label="'Username'"></input-text>
                    <input-text v-model="adduser.password" :label="'Password'"></input-text>
                    <label class="u-checkbox-wrapper">
                        <span>Admin </span>
                        <input type="checkbox" v-model="adduser.admin">
                    </label>

                    <div style="text-align:right;">
                        <button type="submit" class="u-button u-button-primary">Save</button>
                        <button @click="closeAddUser" class="u-button u-button-secondary">Cancel</button>
                    </div>
                </form>

                <div v-if="usersLoading">Loading user list...</div>
                <table v-else style="clear:left;width:100%;">
                    <tr>
                        <th>Username</th>
                        <th>Created</th>\
                        <th>Num. Networks</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <template v-for="user in users" :key="user.id">
                    <tr style="border-bottom:1px solid rgba(0,0,0,0.2);">
                        <td>{{user.username}}</td>
                        <td>{{ new Date(user.created_at * 1000).toLocaleString()}}</td>
                        <td>{{user.num_networks || 0}}</td>
                        <td>{{user.admin ? 'Admin' : ''}} {{user.locked ? 'Locked' : ''}}</td>
                        <td><a class="u-link" @click="editingUserId=user.id">Edit <i class="fa fa-cog"></i></a></td>
                    </tr>
                    <tr v-if="editingUserId === user.id">
                        <td colspan="5">
                            <button v-if="user.locked" @click.prevent="unlockUser(user)" class="u-button u-button-secondary">Unlock</button>
                            <button v-else @click.prevent="lockUser(user)" class="u-button u-button-secondary">Lock</button>

                            <button @click.prevent="showEditPassword=true" class="u-button u-button-secondary">Change password</button>

                            <div v-if="showEditPassword">
                                <input-text v-focus v-model="newPassword" :label="'New password'"></input-text>
                                <button :disabled="!newPassword.trim()" @click.prevent="changePass(user);newPassword='';showEditPassword=false;" class="u-button u-button-primary">Save</button>
                                <button @click.prevent="newPassword='';showEditPassword=false;" class="u-button u-button-secondary">Cancel</button>
                            </div>
                        </td>
                    </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    kiwi.plugin('kiwibnc', function(kiwi, log) {
        const basePath = kiwi.state.settings.plugins.find(p => p.name === 'kiwibnc').basePath;
        const InputText = kiwi.require('components/utils/InputText');
        const StartupLayout = kiwi.require('components/startups/CommonLayout');
        const BouncerProvider = kiwi.require('libs/BouncerProvider');
        const Misc = kiwi.require('helpers/Misc');

        let adminToken = '';

        const startupScreen = {
            components: {
                StartupLayout,
            },
            data() {
                return {
                    errorMessage: '',
                    network: null,
                    loading: false,
                    showLogin: true,
                    username: '',
                    password: '',
                    remember: false,
                    tokenLogin: false,
                };
            },
            computed: {
                greetingText() {
                    if (!this.showLogin) {
                        return 'Create an account';
                    }

                    const greeting = this.$state.settings.startupOptions.greetingText;
                    return typeof greeting === 'string' ?
                        greeting :
                        // TODO translation
                        'new KiwiBNC Login';
                },
                footerText: function footerText() {
                    const footer = this.$state.settings.startupOptions.footerText;
                    return typeof footer === 'string' ?
                        footer :
                        '';
                },
                buttonText() {
                    if (this.loading) {
                        return '';
                    }

                    if (!this.showLogin) {
                        return 'Create my account';
                    }

                    const buttonText = this.$state.settings.startupOptions.buttonText;
                    return typeof buttonText === 'string' ?
                        buttonText :
                        // TODO translation
                        'Login';
                },
                showRemember() {
                    const options = this.$state.settings.startupOptions;
                    return this.showLogin && options.state_key && !options.hideRemember;
                },
            },
            created() {
                const connectOptions = this.connectOptions();
                const bouncer = new BouncerProvider(this.$state);
                bouncer.enable(
                    connectOptions.hostname,
                    connectOptions.port,
                    connectOptions.tls,
                    connectOptions.direct,
                    connectOptions.direct_path
                );
            },
            mounted() {
                const username = this.$state.setting('bnc_username');
                const token = this.$state.setting('bnc_token');
                if (username && token) {
                    this.username = username;
                    this.password = token;
                    this.remember = true;
                    this.tokenLogin = true;
                    this.startUp();
                }
            },
            methods: {
                init() {
                    let options = this.$state.settings.startupOptions;
                    options.remember_buffers = false;
                },
                onSubmit() {
                    if (this.showLogin) {
                        this.startUp();
                    } else {
                        this.createAccount();
                    }
                },
                startUp() {
                    this.loading = true;
                    this.errorMessage = '';

                    const options = Object.assign({}, this.$state.settings.startupOptions);
                    const connectOptions = this.connectOptions();
                    const net = this.network || this.$state.addNetwork('Network', this.username, {
                        server: connectOptions.hostname,
                        port: connectOptions.port,
                        tls: connectOptions.tls,
                        encoding: options.encoding,
                        direct: connectOptions.direct,
                        path: connectOptions.direct_path || '',
                        gecos: options.gecos,
                        username: this.username,
                    });

                    // Clear the server buffer in case it already existed and contains messages relating to
                    // the previous connection, such as errors. They are now redundant since this is a
                    // new connection.
                    net.serverBuffer().clearMessages();

                    net.connection.nick = this.username;
                    net.connection.password = `${this.username}:${this.password}`;
                    net.password = '';

                    this.network = net;

                    // auto login support
                    if (this.remember) {
                        this.$state.$once('irc.bouncer networks', this.requestUserToken);
                    } else {
                        const username = this.$state.setting('bnc_username');
                        const token = this.$state.setting('bnc_token');
                        if (username || token) {
                            // Clear out potentially invalid tokens when logging in manually
                            this.$once('start', () => {
                                this.$state.setting('bnc_username', null);
                                this.$state.setting('bnc_token', null);
                            });
                        }
                    }

                    net.ircClient.connect();
                    const onRegistered = () => {
                        if (this.$refs.layout) {
                            this.$refs.layout.close();
                        }
                        net.ircClient.off('registered', onRegistered);
                        net.ircClient.off('close', onClosed);
                    };
                    const onClosed = () => {
                        this.loading = false;
                        this.errorMessage = net.last_error ||
                            Misc.networkErrorMessage(net.state_error);
                        if (this.password.indexOf('__t1') === 0) {
                            // Connect failed clear out the token
                            this.password = '';
                            this.remember = false;
                            this.tokenLogin = false;
                            const passBox = this.$el.querySelector('input[type="password"]');
                            if (passBox) {
                                passBox.focus();
                            }
                        }
                        this.$state.$off('irc.bouncer networks', this.requestUserToken);
                        net.ircClient.off('registered', onRegistered);
                        net.ircClient.off('close', onClosed);
                    };
                    net.ircClient.once('registered', onRegistered);
                    net.ircClient.once('close', onClosed);
                },
                createAccount() {
                    this.loading = true;
                    this.errorMessage = '';

                    const data = new FormData();
                    data.append('username', this.username);
                    data.append('password', this.password);

                    fetch('/api/register', {
                        method: 'POST',
                        body: data,
                    })
                        .then((res) => res.json())
                        .then((resp) => {
                            this.loading = false;

                            if (resp.error) {
                                this.errorMessage = this.friendlyErrorMessage(resp.error);
                                return;
                            }

                            this.remember = false;
                            this.startUp();
                        })
                        // eslint-disable-next-line handle-callback-err
                        .catch((err) => {
                            this.errorMessage = this.friendlyErrorMessage('unknown_error');
                            this.loading = false;
                        });
                },
                friendlyErrorMessage(errCode) {
                    const errs = {
                        missing_params: 'All options are required',
                        username_in_use: 'Unavailable username',
                        invalid_username: 'Invalid username. Use only letters and numbers',
                        forbidden: 'Registrations are not allowed on this server',
                        unknown_error: 'An unknown error happened :(',
                    };

                    return errs[errCode] || errs.unknown_error;
                },
                connectOptions() {
                    const options = Object.assign({}, this.$state.settings.startupOptions);
                    const connectOptions = Misc.connectionInfoFromConfig(options);

                    // If a server isn't specified in the config, set some defaults
                    // The webircgateway will have a default network set and will connect
                    // there instead. This just removes the requirement of specifying the same
                    // irc network address in both the server-side and client side configs
                    connectOptions.hostname = connectOptions.hostname || 'default';
                    if (!connectOptions.port && connectOptions.direct) {
                        connectOptions.port = connectOptions.tls ?
                            443 :
                            80;
                    } else if (!connectOptions.port && !connectOptions.direct) {
                        connectOptions.port = connectOptions.tls ?
                            6697 :
                            6667;
                    }

                    return connectOptions;
                },
                requestUserToken(event, network) {
                    if (!network.is_bnc || network.connection.bncnetid) {
                        return;
                    }

                    if (this.tokenLogin) {
                        network.ircClient.say('*bnc', `changetoken ${this.password} 7d`);
                    } else {
                        this.$state.$on('irc.message', this.receiveUserToken);
                        network.ircClient.say('*bnc', 'addtoken 7d webchat');
                    }
                },
                receiveUserToken(event, network) {
                    if (event.nick !== '*bnc') {
                        return;
                    }
                    if (!event.tags['+auth_token']) {
                        return;
                    }

                    const token = event.tags['+auth_token'];
                    // State peristance is not currently ready. set our username/token when it is
                    // start is emitted from CommonLayout.vue
                    this.$once('start', () => {
                        this.$state.setting('bnc_username', network.nick);
                        this.$state.setting('bnc_token', token);
                    });
                    this.$state.$off('irc.message', this.receiveUserToken);
                },
            },
            template: '#kiwibnc-startup',
        };

        let AdminScreen = {
            template: '#kiwibnc-admin',
            data: function() {
                return {
                    usersLoading: false,
                    users: [],
                    editingUserId: 0,
                    showEditPassword: false,
                    newPassword: '',
                    apiLoading: false,
                    isRestarting: false,
                    workerLastStarted: 0,
                    allowRegistrations: false,
                    adduser: {
                        visible: false,
                        error: '',
                        username: '',
                        password: '',
                        admin: false,
                    },
                };
            },
            created() {
                this.refreshData();
            },
            computed: {
                allowRegistrationsWrap: {
                    get() {
                        return this.allowRegistrations;
                    },
                    set(newVal) {
                        let oldVal = this.allowRegistrations;
                        this.apiCall('/admin/info', {
                            allowregistrations: newVal,
                        })
                        .then(resp => {
                            if (!resp.error) {
                                this.allowRegistrations = newVal;
                            }
                        });
                    },
                },
            },
            methods: {
                apiCall(path, data) {
                    let opts = {
                        headers: new Headers({ 'x-auth': adminToken }),
                    };
                    if (data) {
                        opts.method = 'POST';
                        opts.body = new FormData();
                        for (let prop in data) {
                            opts.body.append(prop, data[prop]);
                        }
                    }
                    this.apiLoading = true;
                    return fetch(basePath + '/api' + path, opts)
                    .then(resp => {
                        this.apiLoading = false;
                        return resp.json();
                    });
                },
                refreshData() {
                    this.apiCall('/admin/info')
                    .then(resp => {
                        this.users = {};
                        resp.users.forEach(u => {
                            this.users[u.id] = u;
                        });
                        this.allowRegistrations = resp.allowRegistrations;
                        this.workerLastStarted = resp.started;
                    });
                },
                addUserSave() {
                    this.apiCall('/admin/users', {
                        act: 'newuser',
                        username: this.adduser.username,
                        password: this.adduser.password,
                        admin: this.adduser.admin,
                    }).then(resp => {
                        if (resp.error) {
                            if (resp.error === 'missing_params') {
                                this.adduser.error = 'You must provide both a username and password!';
                            } else if (resp.error === 'user_exists') {
                                this.adduser.error = 'That username is unavailable';
                            } else {
                                this.adduser.error = `Unknown error (${resp.error})`;
                            }
                        } else {
                            this.closeAddUser();
                            this.refreshData();
                        }
                    });
                },
                closeAddUser() {
                    this.adduser.error = '';
                    this.adduser.username = '';
                    this.adduser.password = '';
                    this.adduser.admin = false;
                    this.adduser.visible = false;
                },
                lockUser(user) {
                    this.apiCall('/admin/users', {
                        act: 'lock',
                        username: user.username,
                    })
                    .then(resp => {
                        this.refreshData();
                    });
                },
                unlockUser(user) {
                    this.apiCall('/admin/users', {
                        act: 'unlock',
                        username: user.username,
                    })
                    .then(resp => {
                        this.refreshData();
                    });
                },
                changePass(user) {
                    this.apiCall('/admin/users', {
                        act: 'changepass',
                        username: user.username,
                        password: this.newPassword,
                    })
                    .then(resp => {
                        this.refreshData();
                    });
                },
                restartBouncer() {
                    this.isRestarting = true;

                    this.apiCall('/admin/restart', {})
                    .then(() => {
                        // Check each second if it's back up yet
                        this.apiLoading = true;
                        let check = () => {
                            this.apiCall('/admin/info')
                            .then(resp => {
                                // If resp.started hasn't changed since the last time we refreshed
                                // data then the server hasn't restarted yet. It could be slow at
                                // shutting down for some reason.
                                if (resp.started === this.workerLastStarted) {
                                    throw new Error('not restarted');
                                }

                                this.isRestarting = false;
                                this.refreshData();
                            })
                            .catch(() => {
                                setTimeout(check, 1000);
                            });
                        };

                        setTimeout(check, 2000);
                    });
                },
            },
        };

        kiwi.addStartup('kiwibnc', startupScreen);

        let adminAdded = false;
        kiwi.on('irc.motd', function(event, network) {
            // kiwibnc admin users get a kiwibnc/admin=token ISUPPORTs token added. The token
            // is used for the HTTP admin interface for auth
            let token = network.ircClient.network.supports('kiwibnc/admin');
            if (token && !adminAdded) {
                adminAdded = true;
                adminToken = token;
                kiwi.addTab('settings', 'KiwiBNC Admin', AdminScreen);
            }
        });
    });
</script>

<style>

.kiwibnc-startup-form {
    width: 70%;
    padding: 20px;
}

.kiwibnc-startup-form h2 {
    margin: 0 0 20px 0;
    padding: 0;
    cursor: default;
    font-weight: 600;
    font-size: 2.2em;
    text-align: center;
    line-height: 1.2em;
}

.kiwibnc-startup-form .u-submit {
    width: 100%;
    height: 50px;
    font-size: 1.3em;
    cursor: pointer;
}

.kiwibnc-startup-form .u-submit[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
}

.kiwibnc-error {
    color: var(--brand-error);
    border: 1px solid var(--brand-error);
    text-align: center;
    padding: 0.5em;
    margin: 1em;
}

.kiwibnc-adduser {
    clear: left;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1em;
    margin: 1em 0;
}

</style>
